* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: verdana;
    text-transform: capitalize;
  }
  body {
    min-height: 100vh;
    background: linear-gradient(180deg, #ff0000 35%, #000000 100%);
    background-size: cover;
  }
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body h1 {
    text-align: center;
    margin: 40px;
    margin-top: 1rem;
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 56px;
  }
  .container {
    height: 460px;
    width: 330px;
    background: #feffab;
    border-radius: 5px;
    box-shadow: 0 5 px 10px rgba(0, 0, 0, 0.5);
    padding: 5px 20px;
    overflow-y: auto;
    margin-top: -1rem;
  }
  #input {
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 20px;
    background: #F5DF99;
    color: darkolivegreen;
    padding: 0 15px;
    margin: 15px 0;
  }
  #input::placeholder {
    color: #333;
  }
  ul {
    position: relative;
    text-align: center;
    font-size: 15px;
  }
  li {
    background: #00cc10;
    color: #333;
    height: 40px;
    border-radius: 50px;
    margin: 15px 0;
    padding: 13px;
    list-style: none;
    text-align: left;
  }
  li .fa-check,
  .fa-trash {
    position: absolute;
    cursor: pointer;
  }
  li .fa-trash {
    right: 20px;
    color: white;
    transform: translate(0px, -18px);
  }